h1 {
  color: blueviolet;
  text-align: left;
}

h2 {
  color: darkblue;
  font-style: underline;
  text-align: centerleft;
  font-weight: 1000;
}


p {
  font-family: serif;
}

ul {
  list-style-type: none;
  font-size: 20px;
  line-height: 30px;
}

body {
  
  background-color: lightskyblue;
  font-family: sans-serif;
  text-align: center;
}