h1 {
  color: blueviolet;
  text-align: left;
}

h2 {
  color: darkblue;
  font-style: underline;
  text-align: centerleft;
  font-weight: 1000;
}

p {
  font-family: serif;
}

ul {
  font-size: 40px;
  line-height: 60px;
}

body {
  background-color: lightskyblue;
  font-family: sans-serif;
  text-align: center;
}